/////////////////////////////////////////////
//// COMPONENTS
.navigation {
  display: flex;
  align-items: center;

  margin: 0 25rem;
  padding-left: 1.5rem;

  justify-content: space-between;

  &__logo-box {
    margin-top: 12rem;
  }

  &__nav {
    &__list {
      display: flex;

      margin-top: 12rem;

      list-style: none;
    }

    &__item {
    }

    &__link {
      padding-right: 6rem;

      font-size: 1.8rem;
      font-weight: bold;
      text-decoration: none;
      color: $white-color;

      transition: all 300ms ease-in-out;

      &--last {
        padding-right: 0;
      }

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.main-text {
  margin: 20rem 25rem 0 25rem;
  & img {
    width: 100%;
  }
}

.scroll-box {
  margin-top: 20rem;

  text-align: center;
  color: $white-color;
}

.btn {
  width: 33rem;
  height: 9rem;

  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  padding: 2rem;
  border: 3px solid $white-color;

  transition: all 300ms ease-in-out;

  &--secondary-text {
    color: $secondary-color;

    &:hover {
      background-color: $white-color;
    }
  }

  &--white-text {
    color: $white-color;

    &:hover {
      background-color: $white-color;
      color: $secondary-color;
    }
  }
}
