/////////////////////////////////////////////
//// VARIABLES

//////////////
//// COLORS
$primary-color: #18f7ef;
$secondary-color: #3624ea;
$white-color: #ffffff;
$black-color: #060509;

//////////////
//// TEXT
